.t{
    padding-left: 500px;
    background-color: green;
    color: white;
}

.tol{
    margin-left: 900px;
    font-size: large;
}

.to{
    margin-left: 1000px;
    margin-top: -20px;
}

.ta{
    padding-left: 500px;
    margin-top: 200px;
    color: white;
    background-color: green;
}

.ope{
    margin-left: 500px;
    margin-top: 100px;
}

.an{
    margin-left: 500px;
    margin-top: 20px;
}